/* Importing the google font family  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.model {
    position: fixed;
    top: 20%;
    right: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.2);
    text-align: center;
    display: none;
}

.form-control label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control input{
    font: inherit;
    width: 15rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(204,204,204);
}


.backdrop{
    background-color: rgba(0,0,0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}



@media (min-width: 48rem) {
    .model {
        left: calc(33% - 20px);
        width: 40rem;
    }
}