body {
    margin:1rem 3rem;
    font-family: sans-serif;
    background-color:#fafafa;
  }

/* nav section css code  */
.practice-info{
  border-radius: 1rem;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  height: 3rem;
  width: 100%;
}

.practice-info h3{
    margin-top: 0px;
    padding-top: 1vh;
    font-size: 2.5vh;
    font-weight: bold;
}

/* Counting the input css code  */
.input-count{
    background-color: rgb(254, 251, 246);
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    height: 7vh;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.input-count form{
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 1vh 1vh;
}

.input-count label{
    font-size: 2vh;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.input-count input{
  padding-bottom: 2rem;
  width: 50%;
  height: 0.1rem;
}
.input-count span{
  font-weight: bold;
  padding: 0rem 0.2rem;
}

/* Other sections CSS code */
  
  h1 {
    text-align: center;
    color: rgb(236, 202, 8);
  }
  
section {
    margin: 2rem auto;
    width: 95%;
    max-width: 50rem;
    padding: 1rem 2rem;
    border-radius: 6px;
    background-color: rgb(254, 251, 246);;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  button {
    font: inherit;
    cursor: pointer;
    background-color: rgb(236, 183, 8);
    border: 1px solid rgb(236, 183, 8);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: rgb(196, 152, 6);
    border-color: rgb(236, 183, 8);
  }
  
  .control {
    margin: 1rem 0;
  }
  
  label, 
  input {
    display: block;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    font: inherit;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 1px solid rgb(156, 153, 136);
    width: 3rem;
    max-width: 100%;
    padding: 0.5rem;
    color: rgb(66, 63, 44);
  }
  
  a {
    text-decoration: none;
    color: rgb(236, 145, 8);
  }
  
  .output {
    font-weight: bold;
    background-color: rgb(233, 191, 55);
    padding: 0.25rem;
    border-radius: 4px;
  }
  
  a.highlight {
    background-color: rgb(63, 4, 141);
    padding: 0.25rem;
  }
  
  #calculated-sum {
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    display: none;
  }