.practice-info{
    justify-content: center;
    text-align: center;
    background-color: rgb(190, 216, 239);
    margin-top: 0px;
    height: 5vh;
    width: 100%;
}
.practice-info h3{
    margin-top: 0px;
    padding-top: 1vh;
    font-size: 2.5vh;
    font-weight: bold;
}


/* Counting the input css code  */
.input-count{
    background-color: antiquewhite;
    text-align: center;
    margin-top: 1vh;
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.input-count form{
    padding-top: 2vh;
}

.input-count label{
    font-size: 2vh;
    font-weight: bold;
}